# Ambiente
AMBIENTE_PROCESSO=desenvolvimento

# Configurações de conexão com o Banco de Dados
DB_HOST=''
DB_DATABASE=''
DB_USER=''
DB_PASSWORD=''
DB_PORT=''

# Credenciais AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_BUCKET_NAME=


# Configurações do servidor de aplicação
APP_PORT=''
APP_HOST=''

# Senha de aplicativo do Gmail
GMAIL_PASSWORD=''

# Geminai
GEMINI_API_KEY=''

# Modelo
MODEL=''
