/* Sidebar styles */
@import url("../default.css");
@import url("sidebar.css");

/* Mobile <= 480px */
@media screen and (max-width: 480px) {}

/* Mobile >= 480px */
@media screen and (min-width: 480px) and (max-width: 767px) {}

/* Tablet >= 768px */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* Desktop >= 1024px */
@media screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  .body {
    width: auto;
    min-width: 0;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .body .container {
    padding: 0.5% 3.5%;
  }

  .body .container .title {
    font-weight: bold;
    background-color: var(--color-white);
  }

  .body .container .title a {
    text-decoration: none;
    color: var(--color-purple);
  }

  .body .container .kpis {
    display: flex;
  }

  
.body .container .kpis .icon {
    width: 100%;
}
  .body .container .kpis .card {
    width: auto;
    overflow: visible;
    min-width: 0;
    flex: 1;
    margin: 1% 2% 0 0;
    border-radius: 25px;
    background-color: var(--color-white);
    padding: 1.2%;
    height: fit-content;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.201);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
  }


 .body .container .kpis .card:nth-child(1) .ii {
    background-color: var(--color-danger);
  }

  .body .container .kpis .card:nth-child(1) .number {
    color: var(--color-danger);
  }

  .body .container .kpis .card:nth-child(2) .ii {
    background-color: var(--color-danger);
  }

  .body .container .kpis .card:nth-child(2) .number {
    color: var(--color-danger);
  }

  .body .container .kpis .card:nth-child(3) .ii {
    background-color: var(--color-purple);
  }

  .body .container .kpis .card:nth-child(3) .number {
    color: var(--color-purple);
  }

  .body .container .kpis .card:nth-child(4) .ii {
    background-color: var(--color-purple);
  }

  .body .container .kpis .card:nth-child(4) .number {
    color: var(--color-success);
  }

  .body .container .kpis .info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
  }
.body .container .kpis .card:nth-child(1) .info .comparacao{
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    background: rgba(0, 200, 83, 0.10);
    color: var(--color-success);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
}

  .body .container .kpis .card:nth-child(2) .info .comparacao{
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    background: rgba(0, 200, 83, 0.10);
    color: var(--color-success);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
}
  .body .container .kpis .card:nth-child(3) .info .comparacao{
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    background: rgba(0, 200, 83, 0.10);
    color: var(--color-success);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

.body .container .kpis .card:nth-child(4) .info .comparacao{
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    background: rgba(227, 87, 99, 0.1);
    color: var(--color-danger);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
}


  .body .container .kpis .icon .i {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .body .container .kpis .icon .ii {
    width: fit-content;
    height: fit-content;
    padding: 1px;
    border-radius: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    background-color: var(--color-purple);
  }

  .body .container .kpis .number {
    font-size: 3rem;
    color: var(--color-deep-purple);
    font-weight: bold;
  }

  .body .container .kpis .desc {
    font-size: 1rem;
    color: var(--color-deep-purple);
    font-weight: bold;
    
  }



.Graficos{
    display: flex;
    margin: 0;
    justify-content: center;
    width: 100%;
   

}


.Graficos .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
}

.Graficos .container .card-grafico{
    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

  .grafico-tendencia {
  width: 40vw;
  height: 220px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  flex: 3;
}

#graficoLinha{
    width: 100% !important;
    height: 100% !important;
}

.grafico-ranking {
  width: 33vw;
  height: 220px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  flex: 1;
}

#graficoRanking{
    width: 100% !important;
    height: 100% !important;
}


.heatMap{
  width: 45vw;
  height: 250px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.sugestoes{
  width: 28vw;
  height: 250px;
  flex: 1;
  min-width: 250px;

  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

#heatmap{
    width: 100% !important;
    height: 10px ;
} 


#alertaIA {
  
    width: 100%;
    padding: 10px;
    background: linear-gradient(
        135deg,
        rgba(123, 63, 242, 0.15),
        rgba(123, 63, 242, 0.05)
    );
    border: 1px solid rgba(123, 63, 242, 0.3);
    border-left: 5px solid #7b3ff2;
    border-radius: 12px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

#alertaIA:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(123, 63, 242, 0.2);
}

.tituloIA {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #b994ff;
    margin-bottom: 16px;
}

.lia-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #7b3ff2;
    box-shadow: 0 0 10px rgba(123, 63, 242, 0.4);
}

.textoIA {
    color: #000000;
    font-size: 15px;
    line-height: 1.6;
}


.info-btn {
  flex-shrink: 0;
  margin-left: 8px;
    background: var(--color-deep-purple);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    
}

.info-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 135%;
    right: 0;
    left: auto;
    width: 230px;
    white-space: normal;
    padding: 10px 14px;
    line-height: 1.4;
    text-align: left;
    background-color: #DEE2E6;
    color: var(--color-deep-purple);
    font-size: 13px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.info-btn:hover::after {
    opacity: 1;
    visibility: visible;
}



.titulo-kpi {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.titulo-kpi .desc {
    white-space: nowrap;
    flex: 1;
}

}

